/* Fonts */
@font-face {
  font-family: "BDO";
  src: url(/assets/fonts/BDOGrotesk-DemiBold.woff) format("woff");
  font-weight: bold;
}

/*Animations*/


/* Universal */
:root {
  --color1: #FFFFFF;
  --color2: #363031;
  --color3: #EED7B2;
  --color4: #A07361;
  --color5: hsla(0, 0%, 0%, 0.25);
  --color6: #D9D9D9;
  --gradientcolor1: #BF953F;
  --gradientcolor2: #FCF6BA;
  --gradientcolor3: #FBF587;
  --gradientcolor4: #B38728;
  --gradientcolor6: #C0C0C0;
  --gradientcolor7: #B1B1B1;
  --gradientcolor8: #A2A2A2;
  --gradientcolor9: #CFCFCF;
  --smallshadow: 0 3px 2px var(--color5);
  --bigshadow: 0 5px 2px var(--color5);
}

* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
  font-family: BDO, Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: var(--color1);
  background: linear-gradient(var(--color3), var(--color4)) no-repeat center fixed;
}

#root {
  height: 100svh;
}

/* PC Platform */
.pc-div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

.pc-container h1 {
  width: 90%;
  font-size: 24px;
  text-transform: uppercase;
  text-shadow: var(--bigshadow);
  margin: 0 auto 10% auto;
}

.pc-container canvas {
  box-shadow: var(--bigshadow);
  border-radius: 30px;
  margin: 10% auto;
}

.telegram {
  width: 90%;
  font-size: 25px;
  text-shadow: var(--bigshadow);
  margin: 10% auto;
}

.pc img {
  float: left;
  width: 15%;
  height: auto;
  margin-right: 5px;
}

/* Mobile Platform */
.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 100svh;
}

.amount-display {
  display: flex;
  width: 90%;
  height: auto;
  margin: 5% 0;
  border: 3px solid transparent;
  background: conic-gradient(var(--color6), var(--color6)) padding-box,
              conic-gradient(from -140deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
  border-radius: 29.63px;
  box-shadow: var(--bigshadow);
}

.amount-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: auto;
  font-size: 4vh;
  text-align: center;
  color: var(--color2);
  text-shadow: var(--smallshadow);
}

.small-token {
  float: left;
  width: 15%;
  height: auto;
}

.earn {
  width: 80%;
  height: auto;
}

.buttons-grid {
  display: grid;
  width: 90%;
  height: auto;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: 2.5%;
  margin: 5% auto;
}

.button {
  width: 100%;
  height: 100%;
  color: var(--color2);
  text-transform: uppercase;
  font-size: 1.4vh;
  background-color: var(--color6);
  border-radius: 15px;
  border: 3px solid transparent;
  box-shadow: var(--bigshadow);
  text-shadow: var(--smallshadow);
}

.button img {
  width: 100%;
  height: auto;
}

.button p {
  width: 100%;
  text-align: center;
}

.active {
  background: conic-gradient(var(--color6), var(--color6)) padding-box, 
              conic-gradient(from 225deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
}

.inactive {
  background: conic-gradient(var(--color6), var(--color6)) padding-box, 
              conic-gradient(from 225deg, var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) border-box;
}

/* Tasks */
.tasks-div {
  width: 90%;
  text-transform: uppercase;
  color: var(--color2);
  background-color: var(--color6);
  border: 4px solid transparent;
  border-radius: 38.1px;
  margin: auto;
  box-shadow: var(--bigshadow);
  background: conic-gradient(var(--color6), var(--color6)) padding-box,
              conic-gradient(from 225deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
}

.tasks-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  font-size: 18px;
}

.tasks-div hr {
  width: 90%;
  margin: auto;
  border: 2px solid transparent;
  background: linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) padding-box,
              linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) border-box;
}

.task-container {
  width: 90%;
  margin: auto;
  padding: 5% 0;
}

.task {
  display: flex;
  margin-bottom: 5%;
}

.task img {
  width: 10%;
  margin-right: 2.5%;
}

.task p {
  text-align: left;
  text-shadow: var(--smallshadow);
}

.task-text {
  width: 65%;
  font-size: 1.75vh;
}

.task-reward {
  font-size: 1.5vh;
}

.task-button {
  width: 25%;
  background-color: var(--color1);
  border-radius: 50px;

}

.task-button div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 2vh;
  text-shadow: var(--smallshadow);
}

/*Boosts*/
.boosts-div {
  width: 90%;
  height: auto;
  text-transform: uppercase;
  color: var(--color2);
  background-color: var(--color6);
  margin-top: auto;
  margin-bottom: auto;
  border: 4px solid transparent;
  border-radius: 38.1px;
  box-shadow: var(--bigshadow);
  background: conic-gradient(var(--color6), var(--color6)) padding-box, conic-gradient(from 225deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
}

.boosts-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: 18px;
}

.boosts-div hr {
  width: 90%;
  margin: auto;
  border: 2px solid transparent;
  background: linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) padding-box, linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) border-box;
}

.boost-container {
  width: 90%;
  height: auto;
  margin: 10% auto;
}

/*Profile*/
.profile-div {
  width: 90%;
  height: auto;
  text-transform: uppercase;
  color: var(--color2);
  background-color: var(--color6);
  border: 4px solid transparent;
  border-radius: 38.1px;
  box-shadow: var(--bigshadow);
  background: conic-gradient(var(--color6), var(--color6)) padding-box, conic-gradient(from 225deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
  margin: auto;
}

.profile-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10%;
  font-size: 18px;
}

.profile-div hr {
  width: 90%;
  margin: auto;
  border: 2px solid transparent;
  background: linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) padding-box, linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) border-box;
}

.profile-container {
  width: 90%;
  margin: auto;
}

.profile-container hr {
  width: 100%;
  margin-bottom: 5%;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-info img {
  width: 30%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 100%;
  margin: 5% auto;
}

span {
  text-transform: none;
}

.beta {
  color: crimson;
}

.profile-info-grid {
  display: grid;
  width: 100%;
  grid-template-columns: auto;
  grid-template-rows: repeat(4, 25%);
  align-items: center;
  text-align: left;
  font-size: 11px;
}

.profile-info-grid p {
  margin: 3% 0;
}

.achievement-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
}

.achievement-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: auto;
  font-size: 10px;
  width: 100%;
  margin: auto;
}

.achievement-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.achievement-item img {
  width: 100%;
  border-radius: 100%;
  margin-top: auto;
  opacity: 0.45;
}

.achievement-item p {
  width: auto;
  text-align: center;
}

/*Shop*/
.shop-div {
  width: 90%;
  height: 50%;
  text-transform: uppercase;
  color: var(--color2);
  background-color: var(--color6);
  margin: auto;
  border: 4px solid transparent;
  border-radius: 38.1px;
  box-shadow: var(--bigshadow);
  background: conic-gradient(var(--color6), var(--color6)) padding-box, conic-gradient(from 225deg, var(--gradientcolor1), var(--gradientcolor2), var(--gradientcolor3), var(--gradientcolor4)) border-box;
}

.shop-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 10%;
  font-size: 18px;
}

.shop-div hr {
  width: 90%;
  margin: auto;
  border: 2px solid transparent;
  background: linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) padding-box, linear-gradient(var(--gradientcolor6), var(--gradientcolor7), var(--gradientcolor8), var(--gradientcolor9)) border-box;
}

.shop-container {
  width: 90%;
  height: auto;
  margin: 10% auto;
}

.shop-container p{
  color: crimson;
}

/*Media Queries*/
